In [30]:
import pandas as pd
import numpy as np
import requests
from pprint import pprint
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import psycopg2
import io

In [4]:
file1 = 'LA_2014_out.csv'
file2='CHI-2014-out.csv'
file3='NY_2014_out.csv'

In [6]:
LACrime_df = pd.read_csv(file1)
ChiCrime_df=pd.read_csv(file2)
NYCrime_df=pd.read_csv(file3)

In [10]:
combined_city_list=[LACrime_df,ChiCrime_df,NYCrime_df]

In [16]:
combined_city= pd.concat(combined_city_list)
combined_city.head()

  ComplaintNum       PrimaryDesc     SecondaryDesc  Premises        Date City
0    140704016  Grand Theft Auto  VEHICLE - STOLEN    STREET  2014-01-01   LA
1    140104075  Grand Theft Auto  VEHICLE - STOLEN    STREET  2014-01-01   LA
2    141404060  Grand Theft Auto  VEHICLE - STOLEN    STREET  2014-01-01   LA
3    141204045  Grand Theft Auto  VEHICLE - STOLEN  DRIVEWAY  2014-01-01   LA
4    140604029  Grand Theft Auto  VEHICLE - STOLEN    STREET  2014-01-01   LA

In [18]:
engine=create_engine('postgres://postgres:postgres@localhost:5432/ETL_project')

In [21]:
inspector = inspect(engine)

In [22]:
inspector.get_table_names()

['city_data']

In [40]:
conn = engine.connect()
# curr=conn.cursor()

In [41]:
# df1.to_sql('users', con=engine, if_exists='replace',
# ...            index_label='id')
# >>> engine.execute("SELECT * FROM users").fetchall()
# [(0, 'User 4'), (1, 'User 5')]
combined_city.to_sql('city_data',con=engine,if_exists='replace',index=False)

In [45]:
engine.execute("Select * from city_data")

In [31]:
# combined_city.to_sql('city_data',conn)

In [32]:
# engine.execute("SELECT * FROM city_data").fetchall()